h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}


.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.container h1 {
    margin-bottom: 20px;
}

.news {
    margin-top: 35px;
}

#root {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 50px;
    column-gap: 30px;
}

.post-element {
    display: grid;
    grid-template-rows: 40px 110px 150px;
    align-items: center;
    border-bottom: 1px solid rgba(69, 69, 69, 0.2);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: rgba(255, 170, 170, 0.3);
}

.post-element div {
    height: 100%;
    /* margin-left: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.author {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 600;
}

.email {
    font-family: "Roboto";
    font-size: 15px;
}

.title {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 800;
}

.text {
    font-family: "Roboto";
    font-size: 15px;
}

.del-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #000000;
}

.line {
    display: block;
    position: absolute;

    width: 15px;
    height: 1px;
    background-color: #fff;
    transform: rotate(45deg);
}

.line:last-child {
    transform: rotate(-45deg);

}